{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l5 left-align">
            <div class="row valign-wrapper">
                    <div class="col s2">
                      <img src="https://cdn.vox-cdn.com/thumbor/AwKSiDyDnwy_qoVdLPyoRPUPo00=/39x0:3111x2048/1400x1400/filters:focal(39x0:3111x2048):format(png)/cdn.vox-cdn.com/uploads/chorus_image/image/49901753/netflixlogo.0.0.png" alt="" class="responsive-img">
                    </div>
                    <div class="col s10">
                      <h5>
                        Netflix
                      </h5>
                    </div>
                  </div>
        <div class="section">
          <h6>Website</h6>
          <p>https://www.netflix.com</p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <h6>Username</h6>
          <p>joyce@gmail.com</p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <h6>Password</h6>
          <p>***********</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 left-align">
        <h5>Shared With</h5>
        <table>
            <thead>
            <tr>
                <th>Email</th>
                <th>Magic Link</th>
                <th>Start Date</th>
                <th>Duration</th>
                <th>Expired?</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>jenny@gmail.com</td>
                <td>https://askdjidlkf.com</td>
                <td>05/20/2019</td>
                <td>No Expiration</td>
                <td>No</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}