{% extends "base.html" %}

{% block content %}
<!-- <h3>Beam</h3> -->
<div class="row">
    <div class="col s12 m12 l12 left-align">
        <h4>Logins</h4>
        <div class="col s12 m3">
            <div class="card horizontal">
              <div class="card-image">
                <img src="https://cdn.vox-cdn.com/thumbor/AwKSiDyDnwy_qoVdLPyoRPUPo00=/39x0:3111x2048/1400x1400/filters:focal(39x0:3111x2048):format(png)/cdn.vox-cdn.com/uploads/chorus_image/image/49901753/netflixlogo.0.0.png">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h6>Netflix</h6>
                  <p>Username</p>
                </div>
                <div class="card-action">
                  <a href="#">View Login</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12 left-align">
        <h4>Notes</h4>
        {% for note in notes %}
        <div class="col s12 m3">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://cdn.vox-cdn.com/thumbor/AwKSiDyDnwy_qoVdLPyoRPUPo00=/39x0:3111x2048/1400x1400/filters:focal(39x0:3111x2048):format(png)/cdn.vox-cdn.com/uploads/chorus_image/image/49901753/netflixlogo.0.0.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h6>{{ note.title }}</h6>
                <p>{{ note.category }}</p>
              </div>
              <div class="card-action">
                <a href="/note/{{ note.id }}">View Note</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}